.map-back {
    background-image: url(../assets/Hautes_herbes_RB.png);
    border: 3px solid #666!important;
    width: 150px!important;
    height: 150px!important;
}

.img-dresseur {
    width: 60px!important;
}

.black-td {
    background-color: #333;
    border: 3px solid #666!important;
    width: 150px!important;
    height: 150px!important;
}

.fightWindow {
    border: 2px solid #333!important;
    width: 700px!important;
    height: 500px!important;
}

.pkmn-fight-name {
    font-size: 2.5em!important;
    font-weight: 900!important;
}

.pkmn-fight-lvl {
    font-size: 1.5em!important;
    font-weight: 700!important;
}

.pkmn-fight-hp {
    font-size: 1.5em!important;
    font-weight: 700!important;
}

.pkmn-fight-img {
    width: 200%!important;
}

#F20, #F21 {
    width: 347px!important;
}
